###############################################################################
# Python
###############################################################################

__pycache__

###############################################################################
# Xcode
###############################################################################

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

###############################################################################
# Misc.
###############################################################################

tmp/

# Models
*.bin

# MacOS
.DS_Store
